<div class="example-form">
  <mat-form-field class="example-full-width">
    <mat-label>Favorite food</mat-label>
    <input matInput placeholder="Enter Name" [(ngModel)]="name" />
  </mat-form-field>
  <section>
    <div class="example-button-row">
      <button mat-raised-button color="primary" (click)="onSubmit()">
        Submit
      </button>
    </div>
  </section>
  <div *ngIf="result">
    Gender is <b>{{ result.gender }}</b> and Probability is
    <b>{{ result.probability }}</b>
  </div>
</div>
